include README.md
include LICENSE
include CITATION.cff
include THIRD_PARTY_LICENSES.txt

recursive-include src/visualastro/stylelib *LICENSE*
recursive-include src/visualastro/stylelib/fontlib *LICENSE* *.ttf *.otf

global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.DS_Store

prune build
prune dist
prune tests
